### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride
**/.vscode

# mypy
.mypy_cache/

__local_test__.py
*.ai
_pyside/_img/_edit


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

